:host {
  display: block;
  background-color: antiquewhite;
}

ul {
  list-style-type: none;
  text-align: right;
  padding: 1rem 0;
}

ul li {
  display: inline;
  margin: 0 2rem;

}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  font-weight: bolder;
}
