:host {
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;



}

.card {
  margin: 0.5rem;
  min-width: 32%;
  flex-basis: 1 1 auto;

}
