<p>Did you hear that? They've shut down the main reactor. We'll be destroyed for sure. This is madness! We're doomed!
  There'll be no escape for the Princess this time. What's that? Artoo! Artoo-Detoo, where are you? At last! Where have
  you been? They're heading in this direction. What are we going to do? We'll be sent to the spice mine of Kessel or
  smashed into who knows what! Wait a minute, where are you going? The Death Star plans are not in the main computer.
  Where are those transmissions you intercepted? What have you done with those plans? We intercepted no transmissions.
</p>

<p> Owen. Yeah? What about that one? What about that blue one? We'll take that one. Yeah, take it away. Uh, I'm quite
  sure you'll be very pleased with that one, sir. He really is in first-class condition. I've worked with him before.
</p>
<p>You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir.</p>

<p>It's all a lot of simple tricks and nonsense. I suggest you try it again, Luke. This time, let go your conscious self
  and act on instinct. With the blast shield down, I can't even see. How am I supposed to fight? Your eyes can deceive
  you. Don't trust them. </p>

<p>I want her alive! There she is! Set for stun! She'll be all right. Inform Lord Vader we have a prisoner. Hey, you're
  not permitted in there. It's restricted. </p>
